.dreview_block .dreview_h1_block {
	display: table;
	margin: 0 auto;
	position: relative;
}
.dreview_block {
	font-family: 'PT Sans', sans-serif;
}
.dreview_block .dreview_h1_block a {
	right: -275px;
	position: absolute;
	top: 20px;
	width: 250px;
	border: none;
	text-decoration: none;
}
.dreview_block .dreview_h1 {
	font: 26px Arial;
	font-weight: 800;
	display: table;
	margin: 10px auto;
	color: #55565a;
	padding-bottom: 35px;
	margin-bottom: 0;
	text-align: center;
	line-height: 45px;
}
.dreview_block .dreview_h2 {
	font: 13px 'Arial', sans-serif;
	font-weight: bold;
	color: #55565a;
	padding-top: 10px;
}
.dreview_block .pagination_ddreviews {
	display: table;
	margin: 0 auto;
}
.dreview_block .pagination_ddreviews li {
	list-style: none;
	float: left;
	padding-right: 10px;
}
.dreview_block .pagination_ddreviews::after {
	clear: both;
}
.dreview_block {
	display: table;
	margin: 0 auto;
	position: relative;
	width: 80%;
}
.dreview_block.dr-new {
	width:100%;
	margin:auto;
}
.dreview_block.dr-new.padding {
	padding:0 25px;
}
.dreview_block a{
	text-decoration:none!important;
}
.dreview_h1_block a span{
	font: 13px 'Arial', sans-serif;
	color: #0096dc;
	border-bottom: 1px solid #7fcaed;
}
.dreview_h1_block a:hover span{
	font: 13px 'Arial', sans-serif;
	color: #0096dc;
	border-bottom: 1px solid #7fcaed;
}
.dreview_block .dreview_page_block a span {
	font: 13px 'Arial', sans-serif;
	color: #0096dc;
	border-bottom: 1px solid #7fcaed;
}
.dreview_block .dreview_page_block a:hover span {
	border-bottom: 1px solid #0096dc;
}
.dreview_rating_text {
	font: 14px Tahoma;
}
.dreview_block .stars span {
	display: inline-block;
	width: 15px;
	height: 12px;
	overflow: hidden;
	background: url('images/stars.png') no-repeat;
}
.dreview_block .stars span.stars_dreview_none {
	background-position-x: -15px;
}
.dreview_page_block {
	width: 65%;
	float:left;
	padding-bottom: 45px;
}
.dreview_page_block_right .stars_block{
	margin-bottom:7px;
    display: table;
    font: 14px 'Arial', sans-serif;
    color: #55565a;
}
.dreview_page_block_right{
	width: 185px;
	float:right;
    font: 14px 'Arial', sans-serif;
    color: #55565a;
}
.dreview_block .stars_dreview .link_dreview_starts {
	font: 14px 'Arial', sans-serif;
	font-weight: bold;
	color: #55565a;
	padding-left: 5px;
}
.dreview_name {
	font: 16px 'Arial', sans-serif;
	color: #55565a;
}
.dreview_date {
	font: 10px 'Arial', sans-serif;
	color: #55565a;
}
.dreview_info_grades {
	font: 14px 'Arial', sans-serif;
	color: #c1c1c2;
}
.dreview_block .dreview_one {
	padding-bottom: 25px;
}
.dreview_one .dreview_up {
	padding-bottom: 10px;
}
.dreview_one .dreview_info {
	font: 14px 'Arial', sans-serif;
	color: #55565a;
	border-bottom: 1px solid #c1c1c2;
	padding-bottom: 15px;
}
.dreview_one .dreview_buy {
	font: 14px 'Arial', sans-serif;
	color: #c1c1c2;
}
.dreview_one .dreview_order_id {
	font: 14px 'Arial', sans-serif;
	color: #55565a;
	padding-bottom: 5px;
}
.dreview_one .dreview_region {
	font: 14px 'Arial', sans-serif;
	color: #c1c1c2;
}
.dreview_block .dreview_one p {
	padding-top: 5px;
	font: 14px 'Arial', sans-serif;
	color: #55565a;
	line-height: 28px;
}
.dreview_block .name_dreview_one {
	font: 14px 'Arial', sans-serif;
	color: #55565a;
	font-style: italic;
}
.dreview_block .date_dreview_one {
	padding-left: 5px;
	color: #c1c1c2;
	font-style: italic;
	font: 14px 'Arial', sans-serif;
}
.dreview_info a {
	text-decoration:none;
	font: 13px 'Arial', sans-serif;
	color: #0096dc;
	border-bottom: 1px solid #7fcaed;
}
.dreview_info a:hover {
	border-bottom: 1px solid #0096dc;
}
.pagination_dreviews {
	display: table;
	margin: 0 auto 25px auto;
}
.pagination_dreviews li {
	float: left;
	padding: 10px;
	background: #0096dc;
	margin-right: 2px;
	color: #fff;
}
.pagination_dreviews a {
	font: 13px 'Arial', sans-serif;
	color: #fff;
}
.pagination_dreviews li:hover {
	background: #7fcaed;
}
.pagination_dreviews li.dactive {
	background: #7fcaed;
}
.pagination_dreviews::after {
	content: '';
	clear: both;
}
.pagination_block {
	margin-bottom: 20px;
}
.clear_both{
	clear:both;
}
.dreview_sort{
	padding-bottom:20px;
	font: 14px 'Arial', sans-serif;
    color: #55565a;
}
.dreview_sort a{
	text-decoration:none;
	font: 13px 'Arial', sans-serif;
	color: #0096dc;
	margin-right:11px;
	border-bottom: 1px solid #7fcaed;
}
.dreview_sort a:hover{
	border-bottom: 1px solid #0096dc;
}
.dreview_page_block_right input{
	border-radius: 3px;
	background-color: #ffdb4d;
	padding: 0 15px;
	font-size: 15px;
	line-height: 32px;
	white-space: nowrap;
	text-decoration: none;
	font-family: Arial,sans-serif;
	border: 0;
	outline: 0;
	cursor:pointer;
}
@media (min-width: 320px) and (max-width: 980px) {
	.dreview_block .dreview_h1_block a{
		right: 0px;
		text-align: right;
	}
}
div.dr-wait {
    position: fixed!important;
    width: 100%!important;
    height: 100%!important;
	top:0!important;
	left:0px!important;
	border:none!important;
	padding:0px!important;
    background: rgba(248,217,253,.7)!important;
    z-index: 10000;
    background-repeat: no-repeat;
    text-indent: -450em;
}
.d-coll{
	float:left;
	display:inline-block;
}
.d-coll-50{
	width:50%;
}
.d-coll-65{
	width:65%;
}
.d-coll-35{
	width:35%;
}
.d-coll-45{
	width:45%;
}
.d-coll_block::after{
	content:' ';
	clear:both;
	display:table;
}
.d-coll-58{
    width: 58.3333333333%;
}
.d-coll-33{
	width: 33.3333333333%;
}
.d-coll-l-8{
	margin-left: 8.3333333333%;
}
.disclaimer{
	color: #555;
    font-size: 16px;
	background-color: #fffde7;
    border-color: #fff9b4;
    color: #555;
    font-size: 14px;
    max-height: 365px;
}
.dr-basket-item{
	background:#ffffff;
	border: 1px solid #ddd;
    padding: 10px 10px 10px 10px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	margin-bottom:15px;
	margin-right:3%;
	height:167px;
	width:30%;
}
.dr-basket-img{
	height:100px;
}
.dr-basket-item a{
	display:table;
	margin:0 auto;
	font-family: "PTSans",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: #0094d9;
}
.dr-basket-item:hover{
    border: 1px solid #0094d9;
}
.dr-basket-item-bottom{
	display:block;
	width:100%;
	height:40px;
	overflow:hidden;
	text-align:center;
}
.dr-basket-item .dr-item-coll-l{
	border-right:1px solid #ddd;
}
.disclaimer-spoiler{
    font-size: 15px;
}
.disclaimer-spoiler span span span{
	display:none;
}
.alert{
	padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.disclaimer p{
    margin-bottom: 20px;
}
.disclaimer ol {
    margin-bottom: 30px;
    padding-left: 15px;
}
.disclaimer ol li{
    margin-bottom: 10px;
}
.disclaimer ul {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    margin-bottom: 10px;
    padding-left: 20px;
}
.dreview_block ul li{
    margin-bottom: 10px;
}
.dreview_block .rate-container{
	padding: 0 25px 35px 25px;
}
.dreview_block p {
    margin: 0 0 10px;
}
.dreview_block .title-2 {
    display: inline-block;
}
.dreview_block .title-2:first-letter {
    color: #ff0000;
}
.dreview_block .title {
    color: #000000;
}
.dreview_block{
	font-family: "PTSans",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.25;
    color: #333;
}
.dreview_block .overall-rate .rate-value {
    display: none;
}
.dreview_block .rate-diagram {
    color: #333333;
    font-size: 46px;
    height: 120px;
    line-height: 120px;
    position: relative;
    text-align: center;
    width: 120px;
}
.dreview_block .rate-diagram svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
}
svg:not(:root) {
    overflow: hidden;
}
.dreview_block .rate-diagram svg circle:nth-child(2n) {
    stroke: #e6e6e6;
}
.dreview_block .rate-diagram svg circle {
    fill: transparent;
    stroke-width: 12;
}
.opinions-block .rate-container .sources-container {
    width: 100%;
}
.dreview_block .sources-container .d-active label{
	cursor:default;
}
.dreview_block .sources-container .d-active {
    z-index: 100;
	cursor:default;
}
.dreview_block .mobile-rate-value{
	display:none;
}
.dreview_block .marks-list {
    max-width: 340px;
	position:relative;
}
.dreview_block .marks-list li a{
    font-family: "PTSans", Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
    color: #333;
	border-bottom:1px solid #cccccc;
}
.dreview_block .marks-list li a:hover{
	color: #0094d9;
	border-bottom:1px solid #0094d9;
}
.dreview_block .d-filters{
	margin-top:20px;
}
.dreview_block .dr-select-selection {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-color: #fff;
    color: #555;
    font-size: 14px;
    outline: 0;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    user-select: none;
    -webkit-user-select: none;
	position:relative;
}
.dreview_block .dr-select-selection.active .dr-select_drop_down{
	display:block;
}
.dreview_block .dr-select-selection.ss-active .dr-select-selection-input{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
    border: 1px solid #66afe9;
}
.dreview_block .d-filters select {
	display:none;
}
.dreview_block .dr-select-selection .dr-select-selection-input{
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
    border: 1px solid #ccc;
	padding:5px 10px;
	font-weight:700;
}
.dreview_block .dr-select-selection.ss-active .dr-select_drop_down{
	display:block;
}
.dreview_block .d-filters .dr-select_drop_down{
 	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    background-color: #fff;
    border: 1px solid #ccc;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
    color: #555;
    font-size: 14px;
    z-index: 20;
    outline: 0;
	margin-top:-1px;
    border: 1px solid #66afe9;
	position:absolute;
    top: 29px;
    width: 100%;
	display:none;
}
.dreview_block .d-filters .dr-select_drop_down div:hover{
    color: #000;
    background-color: #ffc799;
}
.dr-sort-date div.down:before {
    display: inline-block;
    content: '';
    background: url(images/arrow-down.svg) no-repeat;
    background-size: 10px 17px;
}
.dr-sort-date div.up:before {
    background: url(images/arrow-up.svg) no-repeat;
    background-size: 10px 17px;
}
.dr-sort-date div:before {
    width: 20px;
    height: 15px;
    display: inline-block;
    content: '';
}
.dr-sort-date-input.down:before {
    display: inline-block;
    content: '';
    background: url(images/arrow-down.svg) no-repeat;
    background-size: 10px 17px;
}
.dr-sort-date-input.up:before {
    background: url(images/arrow-up.svg) no-repeat;
    background-size: 10px 17px;
}
.dr-sort-date-input:before {
    width: 20px;
    height: 15px;
    display: inline-block;
    content: '';
}
.dr-select-selection input {
	display:none;
}
.dreview_block .dr-select-selection.ss-active .dr-select-selection-input {
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px rgba(102,175,233,.6);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    border:1px solid #66afe9;
}
.dreview_block .d-filters .dr-select_drop_down div{
    text-align: left;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc;
}
.dreview_block .d-filters .dr-select_drop_down div:last-child{
	border-bottom: none;
}
.dr-select_drop_down .active{
    color: #000 !important;
    background-color: #ffc799 !important;
	cursor:default;
}
.d-col-r{
	float:right;
}
.opinions-block .rate-container .overall-rate .rate-block .rate-stars {
    width: 130px;
    height: 25px;
    background: url(images/star-filled-gray.svg) repeat-x;
    background-size: 26px;
}
.dreview_block .marks .marks-list li .mark-item .rate-bar-container {
    width: 100px;
    height: 10px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 5px;
    background: #c2c5c5;
	overflow:hidden;
}
.dreview_block  .rate-container .marks .marks-list {
    padding: 0;
    margin: 10px 0;
}
.dreview_block .marks .marks-list li .mark-item .rate-bar-container .rate-bar {
    height: 10px;
    border-radius: 5px;
}
.dreview_block .d-hidden{
	display:none;
}
.form-group-buttons div{
	display:inline-block;
}
.form-group-buttons a{
	color: #0094d9;
    text-decoration: none;
}
.form-group-buttons a:hover{
	border-bottom: 1px solid #0094d9;
}
.form-group-buttons div a{
    position: relative;
    top: 2px;
    margin-left: 25px;
}
.dreview_block .tooltip.right .tooltip-arrow {
    border-width: 7px 7px 7px 0 !important;
    border-right-color: #3c4954;
    border-bottom-color: transparent !important;
}
.tooltip.right .tooltip-arrow {
	top: 50%;
    left: -7px;
    margin-top: -7px;
    border-width: 5px 5px 5px 0;
    border-right-color: #ddd;
}
.tooltip-arrow {
    border-width: 0 7px 7px;
    border-bottom: 5px solid #424A54 !important;
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.opinions-block .tooltip.right .tooltip-inner {
    background: #3c4954;
    color: #ffffff;
    border-color: #3c4954;
    font-size: 16px;
}
.tooltip-inner {
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #424A54 !important;
    border-color: #424A54 !important;
    color: #FFF !important;
    min-width: 100px;
    white-space: nowrap;
}
.tooltip-inner {
    max-width: 300px;
    padding: 3px 8px;
    color: #333;
    text-align: center;
    text-decoration: none;
    background-color: #eee;
    border-radius: 4px;
}
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    visibility: visible;
    font-family: PTSans,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
	top:-4px;
    left: 35px;
}
.fade {
	display:none;
    transition: all 300ms;
    -moz-transition: all 300ms;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
}
.marks.options .star-item:hover > .tooltip{
	display:block;
}
.dreview_block .star-item {
    background: url(images/star-filled-gray.svg) no-repeat;
    background-size: 21px;
    display: inline-block;
    height: 21px;
    margin-right: 5px;
    width: 21px;
	position:relative;
}
.dreview_block .marks.options .star-item{
    cursor: pointer;
}
.dreview_block .marks .marks-list {
    padding: 0;
    margin: 10px 0;
}
.dreview_block .marks .marks-list li .mark-item {
    display: inline-block;
}
.dreview_block .marks .marks-list li {
    list-style: none;
    line-height: inherit;
    color: gray;
}
.dreview_block .register-block {
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    height: 285px;
    text-align: center;
    position: relative;
}
.dreview_block .register-block>div {
    position: absolute;
    top: 42%;
    width: 100%;
}
.dreview_block .register-block>div a{
	color: #0094d9;
    text-decoration: none;
}
.dreview_block .register-block>div a:hover{
    border-bottom: 1px solid #0094d9;
}
.dreview_block .register-block>div a, .dreview_block .register-block>div span {
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.dreview_block .sources-container.tab div {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    display: inline-block;
    border: 1px solid #cccccc;
    width: 33%;
	position: relative;
    float: left;
}
.dreview_block .sources-container div input[type=radio] {
    display: none;
}
.dreview_block .sources-container div label {
    margin-bottom: 0;
    padding: 2px 0 2px 0;
    text-align: center;
    width: 100px;
    color: #000000;
    display: inline-block;
    font-size: 13px;
	padding-bottom:0px;
	cursor:pointer;
}
.dreview_block .sources-container.tab .d-btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.dreview_block .sources-container.tab .d-btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.dreview_block .sources-container.tab .d-btn:last-child:not(:first-child){
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.dreview_block .sources-container .d-btn:not(.btn-link){
    -webkit-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
    -moz-box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,0.1);
}
.dreview_block .sources-container .d-btn.focus, .dreview_block .sources-container .d-btn:focus, .dreview_block .sources-container .d-btn:hover {
    color: #333;
    text-decoration: none;
}
.dreview_block .d-btn{
    display: inline-block;
    margin-bottom: 0;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.25;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	color: #333;
    background-color: #fff;
    border-color: #e3e3e3;
}
.use-period .d-btn{
	margin-bottom:10px;
}
 .d-btn.new-send {
    color: #fff;
}
.dreview_block input[type=checkbox], .dreview_block input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.dreview_block label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
}
.dreview_block input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;
    line-height: normal;
}
.dreview_block .form-group {
    margin-bottom: 25px;
}
.dreview_block .form-group textarea, .dreview_block .form-group input[type=text] {
    display: block;
    width: 100%;
    height: 31px;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.25;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	box-shadow: none;
	height: auto;
}
.dreview_block .form-group textarea:focus, .dreview_block .form-group input[type=text]:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
.dreview_block .dreview_list_new .dr-item{
    border-bottom: 1px solid #ddd;
    padding: 20px 15px 10px 15px;
}
.dreview_block .dreview_list_new .dr-item.yellow{
	background: #fcfbe9;
}
.dreview_block .dreview_list_new .dr-item .dr-item-coll-l{
	width:20%;
	margin-right:5%;
}
.dreview_block .dreview_list_new .dr-item .dr-item-coll-r{
	width:75%;
}
.dr-description{
	width:75%;	
}
.dr-item_name{
	padding-bottom:5px;
}
.dr-item_img{
	margin-bottom: 10px;
}
.dr-item_img img{
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
.dr-info_grades{
    color: #c1c1c2;
}
.dr-item_date{
	font-size: 13px;
    line-height: 21px;
}
.dr-item .marks-list{
	padding-bottom:15px;
}
.dr-item_buy{
	padding-top:15px;
}
.dr-item_h2 {
    display: block;
    font-weight: bold;
    margin-bottom: 0.4em;
	font-family: "PTSans",Helvetica,Arial,sans-serif;
	font-size: 16px;
    line-height: 1.25;
    color: #333;
}
.dr-description p{
    line-height: 1.55;
}
.dr-btn_comment_group{
	display: inline-block;
    float: left;
}
.dr-btn_comment_group button{
	float:left;
	display: inline-block;
}
.dr-btn_comment_group::after{
	content:'';
	clear:both;
	display:block;
	width:100%;	
}
.dr-btn_comment_group div{
	float:left;
	display: inline-block;
}
.dr-btn_comment_add{
}
.dr-item_bottom{
	margin-top:10px;	
}
.dr-item_bottom::after{
	content:'';
	clear:both;
	display:block;
	width:100%;	
}
.dr-edit-container{
	display: inline-block;
    float: right;
    text-align: right;
    min-width: 120px;
}
.dr-edit-container .vote-widget-container {
    position: relative;
    width: auto;
    display: inline-block;
}
.dr-edit-container .vote-action{
	cursor:pointer;
}
.vote-widget-container.voted .vote-action{
	cursor: not-allowed;
}
.dr-edit-container .vote-action .vote-positive, .dr-edit-container .vote-action .vote-negative{
    display: table;
	font-size: 12px;
    padding: 9px;
    border: solid 1px #ecf0f1;
    border-radius: 4px;
}
.dr-edit-container .vote-action .vote-positive:hover{
	color: #1cc73a;
    border-color: #1cc73a;
} 
.dr-edit-container .vote-action .vote-negative:hover{
	color: #ff0000;
    border-color: #ff0000;
}
.dr-edit-container .vote-action.positive.voted .vote-positive{
	color: #1cc73a;
    border-color: #1cc73a;
}
.dr-edit-container .vote-action.negative.voted .vote-negative{
	color: #ff0000;
    border-color: #ff0000;
}
.dr-edit-container .vote-container .vote-counter {
    display: none;
}
.dr-edit-container .vote-container {
    display: inline-block;
    float: right;
    text-align: right;
    min-width: 120px;
}
.dr-edit-container .vote-sum.positive:before {
    display: inline-block;
    content: '+';
}
.dr-edit-container .vote-positive:before {
    content: "";
    display: table;
	width:14px;
	height:13px;
	background:url(images/like.png) no-repeat;
}
.dr-edit-container .vote-sum.negative:before {
    display: inline-block;
    content: '-';
}
.dr-edit-container .vote-negative:before {
    content: "";
    display: table;
	width:14px;
	height:13px;
	background:url(images/dislike.png) no-repeat;
}
.dr-edit-container .vote-widget-container .vote-action {
    min-width: 20px;
    margin-left: 5px;
}
.dr-edit-container .vote-widget-container .vote-sum{
	margin: 8px 5px;
	font-size:16px;
	font-weight:bold;
}
.dr-edit-container .vote-sum.positive {
    color: #1cc73a;
}
.dr-edit-container .vote-sum.negative {
    color: #ff0000;
}
.vote-widget-container > div{
	float:left;
}
.dr-items_list{
	margin-top:15px;
}
.new-opinion-cancel{
	cursor:pointer;
}

.dr-comments .dr-comment{
	padding-top:20px;
	border-top:1px dashed #cccccc;
}
.dr-comments .dr-comment .dr-comment_date{
	float:right;
}
.dr-comments .dr-comment::after{
	content:'';
	clear:both;
	display:block;
	width:100%;
}
.dr-comment_name{
	font-family: "PTSans",Helvetica,Arial,sans-serif;
    font-size: 16px;
	margin-bottom:10px;
	font-weight:bold;
}
.dr-comment_date{
    font: 12px 'Arial', sans-serif;
    color: #55565a;
}
.dr-comment p{
	font-family: "PTSans",Helvetica,Arial,sans-serif;
    font-size: 16px;
	margin-bottom:10px;
}
.dr-btn_comment_group buttom{
	margin-right:20px;
}
.dr-link_ymarket{
    display: table;
    padding-top: 20px;
}
.dr-link_ymarket a{
	font-family: "PTSans",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.25;
}
.dr-comment_item_count{
	font-family: "PTSans",Helvetica,Arial,sans-serif;
    display: table;
    font-size: 14px;
    line-height: 1.25;
    text-decoration: none;
	margin-top:5px;
}
.dr-show_link{
	font-family: "PTSans",Helvetica,Arial,sans-serif;
	display:table;
    font-size: 14px;
    line-height: 1.25;
	border-bottom: 1px dotted #0094d9;
    color: #0094d9;
    text-decoration: none;
	cursor:pointer;
	position:relative;
}
.dr-show_link::after{
	content:'';
    position: absolute;
    display: table;
    right: -20px;
    top: 0px;
	background:url(images/arrow.png) no-repeat;
	width:20px;
	height:20px;
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.dr-show_link.active::after{
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.dr-show_link:hover {
}
.dr-show_item_comments{
    border-bottom: 1px dotted #0094d9;
    color: #0094d9;
    cursor: pointer;
	position:relative;
}
.dr-show_item_comments::after{
	content:'';
    position: absolute;
    display: table;
    right: -20px;
    top: 0px;
	background:url(images/arrow.png) no-repeat;
	width:20px;
	height:20px;
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.dr-facts{
	margin-top: 8px;
}
.dr-fact{
	line-height: 1.55;
}
.dr-show_item_facts::after {
    content: '';
    position: absolute;
    display: table;
    right: -20px;
    top: 0px;
    background: url(images/arrow.png) no-repeat;
    width: 20px;
    height: 20px;
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.dr-show_item_facts.active::after {
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.dr-show_item_facts {
    border-bottom: 1px dotted #0094d9;
    color: #0094d9;
    cursor: pointer;
    position: relative;
}
.dr-show_item_comments.active::after{
	-o-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.n-product-review-item__separator {
    color: #222;
    margin: -7px 92px 0px 0;
	background: #fff;
}
.n-product-review-item__separator-title {
    font-size: 13px;
    color: #999;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.n-product-review-item__separator-title:before {
    margin-right: 8px;
}
.n-product-review-item__separator-title:after, .n-product-review-item__separator-title:before {
    content: '';
    height: 1px;
    border-top: 1px solid #dcdcdc;
    flex-grow: 1;
    position: relative;
    top: .5em;
}
.n-product-review-item__separator-title:after {
    margin-left: 8px;
}
.problems{
	margin-bottom: 12px;
}
.drm_green_problem{
	display: inline-block;
	width: 21px;
    height: 20px;
    margin-right: 5px;
    vertical-align: sub;
}
@media (min-width: 360px) and (max-width: 540px) {
	.dr-basket-item{
		width:100%;
    	margin-right: 0%;
	}
	.d-coll_block.rate-container .d-coll-50{
		width:100%;
	}
}
@media (min-width: 360px) and (max-width: 580px) {
	.overall-rate > div{
		width:100%;
	}
	.d-filters .d-coll{
		width:100%;
	}
	.dreview_block .sources-container.tab div{
		width:50%;
	}
	.dreview_block .rate-diagram{
   		margin: 0 auto 30px;
	}
}
@media (min-width: 541px) and (max-width: 800px) {
	.dreview_block .dr-basket-item{
		width:45%;
    	margin-right: 5%;
	}
	.dreview_block .d-coll_block.rate-container .d-coll-50{
		width:100%;
	}
}
@media (min-width: 360px) and (max-width: 920px) {
	.dreview_block .dreview_list_new .dr-item .dr-item-coll-l{
		width:100%;
		margin-bottom:20px;
	}
	.dreview_block .dreview_list_new .dr-item .dr-item-coll-r{
		width:100%;
	}
}
@media (min-width: 800px) and (max-width: 1000px) {
	.dreview_block .d-coll_block.rate-container .d-coll-50{
		width:85%;
	}
}