.bxr-left-menu {
    position: relative;
    font-size: 13px;
    width: auto;
    border: 1px solid #f6f6f6;
    list-style: none;
    padding: 0;
    margin: 0;
}

.bxr-left-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    background-color: #fff;
}

.bxr-left-menu ul.show {
    display: none;
}

.bxr-left-menu li {
    cursor: pointer;
    position: relative;
    width: 100%;
    border-top: 1px solid #e6eaed;
    color: #414141;
}

.bxr-left-menu li a
,.bxr-title-menu
{
    padding: 13px 25px 13px 15px;
    margin-right: 0px;
    display: block;
    text-decoration: none;
    position: relative;
    color: #414141;
}

.bxr-left-menu li a:hover
,.bxr-left-menu-selected > a {
    text-decoration: underline !important;
}

.bxr-title-menu {
    font-size: 15px;
    text-transform: uppercase;
}

.bxr-title-menu {
    font-weight: bold;
    cursor: default !important;
    padding: 12px 25px 12px 15px;
}

.bxr-color-flat.bxr-title-menu
,.bxr-color-dark-flat.bxr-title-menu
{
    color: #fff;

}
.bxr-left-menu li ul a {
    padding: 8px 25px 8px 15px;
}

.bxr-left-menu li ul.bxr-padding-lv2 a {
    padding-left: 45px;
}

.bxr-dark-flat-left-menu {
    background-color: #f6f6f7 !important;
}

.bxr-left-menu li .glyphicon
,.bxr-left-menu li .fa{
    padding-right: 10px;
    top: 2px;
}

.bxr-left-menu .bxr-ico-menu{
    float: left;
    width: 16px;
    margin-right: 15px;
    margin-top: 1px;
    opacity: 0.7;
}

.bxr-left-menu .hover-not-ico {
    width: 16px;
    margin-right: 15px;
    display: block;
    float: left;
}

.bxr-left-menu  li .fa.fa-angle-right
,.bxr-left-menu  li .fa.fa-angle-down
{
    padding: 2px 8px;
    right: 4px;
    position: absolute;
    margin: auto;
    top: 50%;
    margin-top: -10px;
    font-size: 16px;
    color: #747474;
    z-index: 1;
}

.bxr-left-menu .bxr-bg-hover-light:hover > a
,.bxr-left-menu .bxr-bg-hover-flat:hover > a
{
    color: #FFF;
}

.bxr-left-menu ul li > a  {
    color: #414141;
}

.bxr-left-menu .bxr-color-flat > a
,.bxr-left-menu .bxr-dark-flat > a
,.bxr-left-menu .bxr-color-light-flat > a
,.bxr-left-menu .bxr-dark-light-flat > a
,.bxr-left-menu .bxr-color-flat > a > .glyphicon.glyphicon-chevron-right
,.bxr-left-menu .bxr-color-flat > a > .fa
,.bxr-left-menu .bxr-dark-flat > a > .fa
,.bxr-left-menu .bxr-color-dark-flat > a
,.bxr-left-menu .bxr-color-dark-flat > a > .glyphicon.glyphicon-chevron-right
,.bxr-left-menu .bxr-color-dark-flat > a > .fa
,.bxr-left-menu .bxr-bg-hover-flat:hover > a > .fa
{
    color: #fff;
}

.bxr-left-menu ul li:hover > a
,.bxr-left-menu ul li:hover > a > .glyphicon
,.bxr-left-menu ul li:hover > a > .fa
{
    color: #fff;
}

.bxr-left-menu .bxr-color-light-flat > a img
,.bxr-left-menu .bxr-color-dark-flat > a img
,.bxr-left-menu .bxr-color-flat > a img
,.bxr-left-menu .bxr-bg-hover-flat:hover > a img
,.bxr-left-menu .bxr-bg-hover-light-flat:hover > a img
,.bxr-left-menu .bxr-bg-hover-dark-flat:hover > a img
{
    filter:  brightness(0) invert(100%);
    -webkit-filter: brightness(0) invert(100%);
    -moz-filter: brightness(0) invert(100%);
    -o-filter: brightness(0) invert(100%);
    -ms-filter: brightness(0) invert(100%);
}

.bxr-left-menu.menu-arrow-top {
    border-top: 4px solid #ccc;
}

.bxr-left-menu.menu-arrow-top:before {
    content: '';
    position: absolute;
    left: 48px;
    top: -14px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #CCC;
}