/******** top-menu-v2 ********/
.v-line_menu > .row, .v-line_menu > .container > .row {
    border-top: 1px solid rgba( 0, 0, 0, 0.1);
}

.top-menu-v2{
    display: block;
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: -10px;
    float: left;
    height: 48px;
    
    width: 70%;
    overflow: hidden;
    visibility: hidden;
}

ul.top-menu-v2 ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
}

ul.top-menu-v2 li{
    display: block;
    float: left;
    position: relative;
    text-align: left;
    font-size: 14px;
    height: 100%;
}


ul.top-menu-v2 > li.first{
    border-left: 1px transparent;
}

.top-menu-v2.full-screen li.first{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.top-menu-v2 li.last, #flex-menu-li{
    border-right: 1px transparent;
}

ul.top-menu-v2 > li > a{
    display: block;
    text-align: center;
    padding: 14px 25px 14px 25px;
    float: left;
    width: 100%;
    text-decoration: none;
    white-space: nowrap;
    float: left;
    font-weight: bold;
    text-transform: uppercase;
}

ul.top-menu-v2 > li > a .glyphicon-chevron-down {
  font-size: 7px;
  top: -1px;
  padding-left: 5px;
}

/**/

ul.top-menu-v2 > li > a .glyphicon glyphicon-search{
    font-size: 15px;
}


ul.top-menu-v2 > li > ul{
   /* border-top: 1px solid  rgba(255,255,255,0.5);*/
    display: none;
    min-width: 100%;
    min-width: 200px;
    padding: 0;
    /*padding-top: 5px;*/
    position: absolute;
    left: 0; top: 48px;
    z-index: 1100;
}

ul.top-menu-v2.menu_arrow_top > li > ul:before{
    content: '';
    position: absolute;
    left: 48px;
    top: -6px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
}

ul.top-menu-v2 > li.other, li.last  {
    width: 50px;
}
ul.top-menu-v2 > li.other > ul:before{
    right: 18px;
    left: initial;
}

ul.top-menu-v2 > li > ul > li > ul{
    display: none;
    position: absolute;
    left: 100%;
    width: 100%;
    top: 0;
    z-index: 1200;
}

ul.top-menu-v2 > li:hover > ul, ul.top-menu-v2 > li > ul > li:hover > ul{
    display: block;
    -webkit-animation:submenu_view 400ms;
    animation:submenu_view 400ms;
}

ul.top-menu-v2 > li > a .glyphicon-chevron-down, #mobile-menu-body a span, .other li span  {
}

ul.top-menu-v2 > li > a.sub-item span, #mobile-menu-body a.sub-item span{
}
#mobile-menu-body a.sub-item span {
  position: relative;
  top: 3px;
  left: 10px;
}

ul.top-menu-v2 > li.first > ul{
    left: -10px;
}

ul.top-menu-v2 > li.last {
    float: right;
}

ul.top-menu-v2 > li.last > ul{
    right: 0px;
    left: auto;
}

ul.top-menu-v2 > li > ul li{
    width: 100%;
}


ul.top-menu-v2 > li > ul li > a{
    display: block;
    padding: 0;
    margin: 0;
    padding: 10px 30px 10px 20px;
    text-decoration: none;
    border: 1px solid rgba(255,255,255,0.2);
    border-top: none;
    white-space: nowrap;
}

ul.top-menu-v2 > li > ul li > a.sub-item{
}

ul.top-menu-v2 > li.other > ul li > a.sub-item {
}

.li-visible > a{
   padding-left: 0 !important;
   padding-right: 0 !important; 
}

#flex-menu-li > a {
    font-size: 19px;
    padding: 6px 0 6px 0;
}

#flex-menu-li > a span {
   line-height: 35px;
}

#flex-menu-li{
    display: none;
}

@-webkit-keyframes submenu_view {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

@keyframes submenu_view {
    from {
        opacity: 0.2;
    }
    to {
        opacity: 1;
    }
}

 ul.top-menu-v2 > li ul li:first-child{
    border-top: none; 
}


 ul.top-menu-v2 ul  a.sub-item {
}

 ul.top-menu-v2 ul  a.sub-item:after {
    position: absolute;
    font-size: 10px;
    font-family: 'Glyphicons Halflings';
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e080";
    right: 10px;
    top: 15px;
}

 ul.top-menu-v2 li.other  a.sub-item:after {
    content: "";
}


ul.top-menu-v2 > li ul{
    box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px 0px;
}

/******** end top-menu-v2 ********/

/******** mobile-menu ********/
#mobile-menu{
    background: #000;
    color: #FFF;
}

.mobile-menu-button{
    width: 51px;
    height: 51px;
    line-height: 51px;
    background: #000;
    cursor: pointer;
}

#mobile-menu-container{
    width: 100%;
    margin-top: 15px;
}

.mobile-menu-button{
    width: 50px;
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    background: #000 url("images/buttons/icon-buttons-sprite.png") no-repeat;
    background-position: 12px -480px;
}

#mobile-menu-content{
    display: none;
}

#mobile-menu-content > div{
    background: #CCC;
    display: inline-block;
    width: 100%;
}

#mobile-menu-content > div a{
    display: block;
    padding: 16px 0px 16px 20px;
    text-align: left;
    color: #fff;
    margin-right: 40px;
    text-decoration: none;
    white-space: nowrap;
}

#mobile-menu-content > div {
    background-color: #000;
    border: 1px solid #555;
}

#mobile-menu-content > div.submenu_item{
    display: none;
}



#mobile-menu-content > div > a{
    background: #FFF;
}

#mobile-menu-content > div[data-main="1"] >a {
    background: #000 ;
}

#mobile-menu-content > div > a.sub-item{
    padding-right: 20px;
    background: #000;
}

#mobile-menu-content > .sub-item-wrap {
    position: relative;
}

/*#mobile-menu-content > .sub-item-wrap:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 100%;
    background: #000 url(images/buttons/ico-arrow-right.png) no-repeat center;
    cursor: pointer;
}*/

#mobile-menu-content > .sub-item-wrap.glyphicon::before {
    position: absolute;
    right: 0;
    top: 30%;
    height: 100%;
    text-align: center;
    color: #fff;
    width: 40px;
    cursor: pointer;
}

#mobile-menu-content > .sub-item-wrap.glyphicon a{
    font-family: "Open Sans", sans-serif;
}

#mobile-menu-content > div.submenu_item > a{
    margin-right: 0;
    color: #555;
    border: 1px solid #555;
    background: #FFF;
}

#mobile-menu-content > div[data-main="1"]{
    display: block;
}
/******** end mobile-menu ********/

/**/

.colored_light {
    background-color: #fff;
}

.colored_dark{
    background-color: #424f60;
}

.colored_color{
    background-color: #ea1100;
}

.colored_light ul.top-menu-v2 > li ul {
    background-color: #ea1100;
}

.colored_color ul.top-menu-v2 > li ul,
.colored_dark ul.top-menu-v2 > li ul{
    background-color: #fff;
}

.colored_light ul.top-menu-v2 > li > a{
    color: #414141;
}

.colored_light ul.top-menu-v2 ul li.selected > a {
    color: #fff;
}

.colored_color ul.top-menu-v2 > li > a,
.colored_color ul.top-menu-v2 ul li.selected > a,
.colored_dark ul.top-menu-v2 > li > a,
.colored_dark ul.top-menu-v2 ul li.selected > a{
    color: #fff;
}

.colored_light ul.top-menu-v2 > li ul a{
    color: #fff;
}

.colored_color ul.top-menu-v2 > li ul a,
.colored_dark ul.top-menu-v2 > li ul a{
    color: #414141;
}

.colored_light ul.top-menu-v2 > li:hover > a,
.colored_light ul.top-menu-v2 > li.selected > a {
    color: #ea1100;
}

.colored_light ul.top-menu-v2 ul li.selected
{
    background-color: #950b00;
}

.colored_dark ul.top-menu-v2 > li:hover{
    background-color: #556170;
}

.colored_color ul.top-menu-v2 > li:hover,
.colored_color ul.top-menu-v2 > li.selected,
.colored_color ul.top-menu-v2 ul li.selected,
.colored_dark ul.top-menu-v2 > li.selected,
.colored_dark ul.top-menu-v2 ul li.selected
{
    background-color: #950b00;
}

.colored_light ul.top-menu-v2 > li > ul li > a:hover{
    background-color: #950b00;
    color: #fff;
}

.colored_color ul.top-menu-v2 > li > ul li > a:hover,
.colored_dark ul.top-menu-v2 > li > ul li > a:hover{
    background-color: #950b00;
    color: #fff;
}

ul.top-menu-v2 > li > ul > li:hover > a,
ul.top-menu-v2 > li > ul > li > ul > li:hover > a
{
    background-color:  #950b00;
    color: #fff;
}

ul.top-menu-v2.menu_arrow_top > li > ul:before{
    border-bottom-color: #ea1100;
}

ul.top-menu-v2.menu-level2 > li.selected > ul,
ul.top-menu-v2.menu-level2 > li.selected > ul ul {
    background-color: #ea1100;
}

.colored_color ul.top-menu-v2.menu-level2 > li.selected,
.colored_dark ul.top-menu-v2.menu-level2 > li.selected {
    background: #fff;
}

.colored_color ul.top-menu-v2.menu-level2 > li.selected > a {
    color: #414141;
    border-top-color: #ea1100;
}

.colored_color ul.top-menu-v2.menu-level2 > li:hover > a {
    border-top-color: #ea1100;
}

.colored_dark ul.top-menu-v2.menu-level2 > li:hover > a {
    border-top-color: #424f60;
}

.colored_dark ul.top-menu-v2.menu-level2 > li.selected > a {
    color: #414141;
    border-top-color: #424f60;
}

.colored_light ul.top-menu-v2.menu-level2 > li.selected > ul:before,
.colored_light ul.top-menu-v2.menu-level2 > li.selected > ul:after{
    background-color: #ea1100;
}


.colored_color ul.top-menu-v2.menu-level2 > li.selected > ul,
.colored_dark ul.top-menu-v2.menu-level2 > li.selected > ul,
.colored_color ul.top-menu-v2.menu-level2 > li.selected > ul:before,
.colored_color ul.top-menu-v2.menu-level2 > li.selected > ul:after,
.colored_dark ul.top-menu-v2.menu-level2 > li.selected > ul:before,
.colored_dark ul.top-menu-v2.menu-level2 > li.selected > ul:after{
    background-color: #fff;
}

.colored_color ul.top-menu-v2.menu-level2 > li.selected > ul > li > a {
    color:  #414141;
}

.colored_color ul.top-menu-v2.menu-level2 > li ul{
    background: #ea1100;
}

.colored_color ul.top-menu-v2.menu-level2 > li.selected > ul > li > ul a {
    color:  #fff;
}

.colored_color ul.top-menu-v2.menu-level2 > li.selected > ul > li > ul > li a:hover {
    background-color: #950b00;
}

.colored_color ul.top-menu-v2.menu-level2 > li ul a {
    color: #fff;
}

.colored_light ul.top-menu-v2.menu-level2 > li:hover {
    background-color: #ea1100;
}

.colored_light ul.top-menu-v2.menu-level2 > li.selected{
    background-color: #ea1100;
}

.colored_light ul.top-menu-v2.menu-level2 ul li.selected
{
    background-color: #ea1100;
}

.colored_light ul.top-menu-v2.menu-level2 > li:hover > a, .colored_light ul.top-menu-v2.menu-level2 > li.selected > a {
    color:  #fff;
}

.colored_light ul.top-menu-v2.menu-level2 > li.selected > ul > li:hover > a
{
    background-color: #ea1100;
    color:  #fff;
}

.colored_color ul.top-menu-v2.menu-level2 > li.selected > ul > li.selected > a,
.colored_color ul.top-menu-v2.menu-level2 > li.selected > ul > li:hover > a {
    background-color: #fff;
    color:  #ea1100;
}

.colored_dark ul.top-menu-v2.menu-level2 > li.selected > ul > li.selected > a,
.colored_dark ul.top-menu-v2.menu-level2 > li.selected > ul > li:hover > a
{
    background-color: #fff;
    color:  #ea1100;
}

.colored_dark ul.top-menu-v2.menu-level2 > li.selected > ul > li >  ul > li a {
    color: #fff;
}


/**/

/**//*
.v-line_menu {
    border-bottom-color: #ea1100;
}

.v-line_menu #search-form button.corporate_search {
    background-color: #ea1100; 
    border-color: #ea1100;
}

.v-line_menu #search-form button.big_search {
    color: #ea1100;
}

.v-line_menu #search-form button.corporate_search:hover,
.v-line_menu #search-form button.corporate_search:active,
.v-line_menu #search-form button.corporate_search:active {
    background-color: #950b00;
    border-color: #950b00;
}

.v-line_menu #search-form button.big_search:hover,
.v-line_menu #search-form button.big_search:active,
.v-line_menu #search-form button.big_search:active {
    color: #950b00;
}*/
/**/
