<section class="py-4">
  <div class="heading">
    <div class="heading__item">
      <h2 class="heading__title">Отзывы</h2>
    </div>
    <div class="heading__item"><a class="heading__link"></a></div>
  </div>
  <div class="row justify-content-between">
    <div class="col-12 col-md-9 col-xl-8">
      <!--Reviews list begin-->
      <div class="reviews-list">
        <div class="review">
          <div class="review__header">
            <div class="review__header-col"><span class="review__name">Вика</span><span class="review__date">15.03.2020</span></div>
            <div class="review__header-col">
              <div class="rating" data-product="product-id">
                <ul class="rating__stars rating__stars--5">
                  <li class="svg-icon icon-star" data-star="1"></li>
                  <li class="svg-icon icon-star" data-star="2"></li>
                  <li class="svg-icon icon-star" data-star="3"></li>
                  <li class="svg-icon icon-star" data-star="4"></li>
                  <li class="svg-icon icon-star" data-star="5"></li>
                </ul><span class="rating__caption">Отлично</span>
              </div>
            </div>
          </div>
          <div class="review__body">
            <p><b>Достоинства:</b> Компактная и удобная</p>
            <p><b>Комментарий:</b> Подарила мужу, ему нравится. Мне тоже.</p>
          </div>
          <div class="review__footer">
            <div class="voting">
              <div class="voting__caption">Отзыв полезен?</div>
              <div class="voting__controls">
                <div class="voting__control" data-direction="up"><span class="svg-icon icon-thumb-up"></span><span class="voting-control__counter">59</span></div>
                <div class="voting__control" data-direction="down"><span class="svg-icon icon-thumb-down"></span><span class="voting-control__counter">3</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="review">
          <div class="review__header">
            <div class="review__header-col"><span class="review__name">Елизавета</span><span class="review__date">07.02.2020</span></div>
            <div class="review__header-col">
              <div class="rating" data-product="product-id">
                <ul class="rating__stars rating__stars--5">
                  <li class="svg-icon icon-star" data-star="1"></li>
                  <li class="svg-icon icon-star" data-star="2"></li>
                  <li class="svg-icon icon-star" data-star="3"></li>
                  <li class="svg-icon icon-star" data-star="4"></li>
                  <li class="svg-icon icon-star" data-star="5"></li>
                </ul><span class="rating__caption">Отлично</span>
              </div>
            </div>
          </div>
          <div class="review__body">
            <p><b>Достоинства:</b> Бесшумная, хорошо заводит часы</p>
            <p><b>Комментарий:</b> Выглядит прекрасно, не стыдно подарить.</p>
          </div>
          <div class="review__footer">
            <div class="voting">
              <div class="voting__caption">Отзыв полезен?</div>
              <div class="voting__controls">
                <div class="voting__control" data-direction="up"><span class="svg-icon icon-thumb-up"></span><span class="voting-control__counter">59</span></div>
                <div class="voting__control" data-direction="down"><span class="svg-icon icon-thumb-down"></span><span class="voting-control__counter">3</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="review">
          <div class="review__header">
            <div class="review__header-col"><span class="review__name">Максим</span><span class="review__date">22.01.2020</span></div>
            <div class="review__header-col">
              <div class="rating" data-product="product-id">
                <ul class="rating__stars rating__stars--2">
                  <li class="svg-icon icon-star" data-star="1"></li>
                  <li class="svg-icon icon-star" data-star="2"></li>
                  <li class="svg-icon icon-star" data-star="3"></li>
                  <li class="svg-icon icon-star" data-star="4"></li>
                  <li class="svg-icon icon-star" data-star="5"></li>
                </ul><span class="rating__caption">Плохо</span>
              </div>
            </div>
          </div>
          <div class="review__body">
            <p><b>Достоинства:</b> Цена</p>
            <p><b>Комментарий:</b> Сломалась через месяц использования. Хотя пока работала, было ничего так.</p>
          </div>
          <div class="review__footer">
            <div class="voting">
              <div class="voting__caption">Отзыв полезен?</div>
              <div class="voting__controls">
                <div class="voting__control" data-direction="up"><span class="svg-icon icon-thumb-up"></span><span class="voting-control__counter">59</span></div>
                <div class="voting__control" data-direction="down"><span class="svg-icon icon-thumb-down"></span><span class="voting-control__counter">3</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Reviews list end-->
    </div>
    <aside class="col-12 col-md-3">
      <div class="reviews-actions">
        <button class="btn btn-md btn-gray">Написать отзыв</button>
      </div>
    </aside>
  </div>
</section>