ul.bxr-topline-menu {
    display: inline-block;
    padding: 0;
    margin: 8px 0 4px;
    margin-right: -18px;
    list-style: none;
    font-size: 13px;
}

.bxr-topline-menu li {
    float: left;
    margin-right: 18px;
    line-height: 17px;
}

.bxr-topline-menu li:last-child {
    margin-right: 0;
}



ul.bxr-topline-menu a{
    text-decoration: none;
    color: #414141;
}

.bxr-topline-menu li a:hover {
    text-decoration: underline;
}